/****************************************************************************************************************
 *  Hoja de estilos del componente Footer
 ****************************************************************************************************************/
.footer-back{
    width: 100%;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;
    background: linear-gradient(90deg, rgba(83, 18, 98, 0.7), rgba(39, 12, 83, 0.7) 70%);
    /*background: linear-gradient(90deg, #531262, #270c53 70%);*/
}

/****************************************************** Shine ***********************************************/
.divider{
    width: 100%;
    height: 20px;
}

.divider > hr {
    border: 0;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
  }

.shine {
    height: 20px;
    width: 100%;
    background-image: radial-gradient(
        farthest-side at 50% -50%,
        hsla(0, 0%, 100%, 0.5),
        hsla(0, 0%, 100%, 0)
    );
    position: relative;
    top: 0;
    margin: 0;
}

.shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 0),
        hsla(0, 0%, 100%, 0.75) 50%,
        hsla(0, 0%, 100%, 0)
    );
}

/****************************************************** Shine ***********************************************/

.footer-content{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-us{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.contact-data{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items:center;
    text-align: left;
}

.contact-data, .social-media, .gyp-google-map{
    padding-bottom: 30px;
}

.contact-data > h3, .social-media > h3, .gyp-google-map > h3{
    padding: 20px;
    font-size: 30px;
}

.contact-data-list{
    width: 100%;
    text-align: center;
}

.contact-data-list > p{
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-media{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.social-media-logos{
    width: 90%;
}

.social-media-logos > img{
    width: 80px;
    height: 80px;
    margin: 10px;
    cursor: pointer;
}

.gyp-google-map{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.frame-google-street{
    width: 300px;
    height: 200px;
    border: 2px solid rgb(176, 14, 182);
    background-image: url("../imgs/google-maps-gyp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.legal-mark{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff8fec;
    margin-bottom: 20px;
}

.legal-mark > p{
    padding-left: 50px;
    padding-right: 50px;
}

.legal-mark > p > a{
    color: #ff57e3;
    margin-left: 10px;
}

@media only screen and (max-width: 960px){
    .contact-us{ width: 100%; }
    .gyp-google-map{ width: 100%; }
    .contact-data{ width: 50%; }
    .social-media{ width: 50%; }
}

@media only screen and (max-width: 670px){
    .contact-us{ flex-direction: column;}
    .contact-data{ width: 100%; }
    .social-media{ width: 100%; }
}


