/******************************************************************************************************
 * Hoja de estilos para el componente Modal
 ******************************************************************************************************/
 
 .modal-hidden{
    display: none;
}

.modal{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(85,85,85,.75);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.modal-content{
    position: absolute;
    z-index: 6;
    width: 65%;
    min-width: 320px;
    top: 70px;
    background-color: white;
    padding: 10px;
    padding-top: 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

/******************************************** Header / Btn Close Modal ***********************************************/
.modal-header{
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.modal-title-container{
    width: 100%;
}

.close-modal-container{
    position: absolute;
    right: 10px;
}

.close-modal{
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    border: none;
    background: none;
}

.close-modal:hover{
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.close-modal:active{
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

/******************************************** Body ***********************************************/

.modal-body{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/******************************************** Footer ***********************************************/

.modal-footer{
    display: none;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    /*display: flex;*/
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
}
