/*****************************************************************************************************************
 *  Hoja de estilos para el componente ServiceSection
 *****************************************************************************************************************/

.service-section-container, .service-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-services{
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    font-size: 30px;
    background: linear-gradient(90deg, #270c53, #531262 70%);
    /*background-color: rgb(6, 0, 87);*/
}
  
.banner-services > h2{
    padding-left: 33px;
    padding-right: 33px;
}

@media all and (max-width: 550px){
    .banner-services{ height: 170px;}
}