/*************************************************************************************************
 * Hoja de estilos para el componente Slider
 * card 277 height - 202 widht 
 * 
 *************************************************************************************************/

.slider-box{/*contenedor general*/
    width: 100%;
    height: 350px;
    position: relative;
	margin: auto;
    color: black;
    background-color: whitesmoke;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.slider-img-container{/*contenedor de las imagenes*/
    height: 280px;
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 55px;
    transition: transform 0.3s;
}

.slider-frame{/*marco sobrepuesto sobre las imagenes*/
    width: 100%;
    height: 350px;
    position: absolute;
    border-left: 50px;
    border-right: 50px;
    border-top: 35px;
    border-bottom: 35px;
    border-style: solid;
    border-color: whitesmoke;
    /*padding: 35px 50px;*/
    vertical-align: middle;
    z-index: 1;
}

.wraper-slider-prev-btn, .wraper-slider-next-btn{
    height: 100%;
    width: 50px;
    position: absolute;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wraper-slider-prev-btn{
    left: 0;
    z-index: 2;
}

.wraper-slider-next-btn{
    right: 0;
    z-index: 3;
}

.slider-prev-btn, .slider-next-btn {/* botones anterior y siguiente */
    cursor: pointer;
    width: 40px;
    height: 80px;
    border:none;
    user-select: none;
    background: none;
    opacity: 0.5;
}


.slider-prev-btn:hover, .slider-next-btn:hover{
    opacity: 0.7;
}

.slider-prev-btn:active, .slider-next-btn:active{
    opacity: 1;
}
/*
1038 1226
@media only screen and (min-width: 1900px){
    .slider-frame{
        border-left: 50px;
        border-right: 50px;
    }
}
@media all and (max-widht: 930px){
    .slider-box{width: 730px;}
}
@media all and (max-widht: 930px){
    .slider-box{width: 730px;}
}
@media all and (max-widht: 730px){
    .slider-box{width: 518px;}
}
*/